In [129]:
import pandas as pd

In [130]:
df_Gender = pd.read_csv('./Resources/Gender.csv', encoding='cp1252')
df_Gender

,HDI rank,Country,HUMAN DEVELOPMENT,GII VALUE,GII RANK,Maternal_mortality,Adolescent_birth_rate,Seats_parliamentt(% held by women),F_secondary_educ,M_secondary_educ,F_Labour_force,M_Labour_force
0,1,Switzerland,VERY HIGH,0.018,3.0,5,2.2,39.8,96.9,97.5,61.7,72.7
1,2,Norway,VERY HIGH,0.016,2.0,2,2.3,45.0,99.1,99.3,60.3,72.0
2,3,Iceland,VERY HIGH,0.043,8.0,4,5.4,47.6,99.8,99.7,61.7,70.5
3,4,"Hong Kong, China (SAR)",VERY HIGH,NaN,NaN,NaN,1.6,NaN,77.1,83.4,53.5,65.8
4,5,Australia,VERY HIGH,0.073,19.0,6,8.1,37.9,94.6,94.4,61.1,70.5
...,...,...,...,...,...,...,...,...,...,...,...,...
190,191,South Sudan,LOW,0.587,150.0,"1,150",99.2,32.3,26.5,36.4,70.4,73.6
191,192,Korea (Democratic People's Rep. of),OTHER,NaN,NaN,89,2.3,17.6,NaN,NaN,77.2,86.1
192,193,Monaco,OTHER,NaN,NaN,NaN,7.2,33.3,NaN,NaN,NaN,NaN
193,194,Nauru,OTHER,NaN,NaN,NaN,72.5,10.5,NaN,NaN,NaN,NaN
194,195,Somalia,OTHER,NaN,NaN,829,118.0,24.6,NaN,NaN,20.9,47.0

In [131]:
df_Gender = df_Gender.drop(columns={'GII VALUE' ,'GII RANK','Maternal_mortality','Adolescent_birth_rate'
})

In [132]:
df_Gender = df_Gender.rename(columns={'HUMAN DEVELOPMENT':'Human_Development',
                          'Seats_parliamentt(% held by women)':'Seats_in_Parliament',
                          'F_secondary_educ':'Female_Education',
                          'M_secondary_educ':'Male_Education',
                          'F_Labour_force':'Female_Workforce',
                          'M_Labour_force':'Male_Workforce',
                          'HDI rank':'HDI_rank'

})

In [133]:
df_Gender = df_Gender.dropna()

In [134]:
df_Gender.reset_index(inplace=True, drop=True)
df_Gender.index += 1

In [135]:
df_Gender = df_Gender.drop(columns = ['HDI_rank'])

In [136]:
df_Gender = df_Gender.reset_index()

In [137]:
df_Gender = df_Gender.rename(columns={'index': 'HDI_rank'})

In [138]:
df_Gender = df_Gender.set_index('HDI_rank')

In [139]:
df_Gender.to_csv('./Resources/GenderCleaned.csv')